<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= webpackConfig.name %></title>
    <script src="https://lib.baomitu.com/echarts/latest/echarts.js"></script>
    <style>
      *{
        margin:0;
        padding:0;
      }
    </style>
  </head>
  <body>
     <div id="main" style="width:800px;height:400px"></div>
     <script>
        let div = document.querySelector('div');
        let myCharts = echarts.init(div)
        myCharts.setOption({
            title:{
               text:'主标题',
               subtext:'副标题',
               textStyle:{
                  color:'blue'
               },
               left:'center',
            },
            xAxis:{
               data:['电影','电视','直播','饮食']
            },
            yAxis:{
               //显示y轴的线
               axisLine:{
                  show:true
               },
               // y轴刻度
               axisTick:{
                  show:true
               },
            },
            series:[  // 绘制什么样的图表 数据展示在这里设置  bar 柱状图  line 折线图   pie 饼图
               {
                 type:'bar',
                 data:[10,20,30,40],
                 color:'red',
               },
            ],
        })

     </script>
  </body>
</html>
