<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= webpackConfig.name %></title>
    <style>
      *{
        margin:0;
        padding:0;
      }
      canvas{
         border:1px solid #ccc;
      }

    </style>
  </head>
  <body>
    <!-- canvas 默认 宽高 300 * 150  在canvas 里面写内容 没有意义 写字元素 也没有意义  宽高设置 写在标签上  -->
     <canvas width="600" height="400"></canvas>
     <script>
        let canvas = document.querySelector('canvas');
        let ctx = canvas.getContext('2d');  // 获取画布的笔
        ctx.strokeRect(100,200,100,200)  // x y w h  第1中绘制方式  这种没有填充色
        ctx.fillStyle = 'cyan';   // 填充色
        ctx.fill()
        ctx.fillRect(300,200,100,200)    // 第2种方式
     </script>
  </body>
</html>
